frontend/static/fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
frontend/www/static/fonts/RobotoMono-Italic-VariableFont_wght.ttf filter=lfs diff=lfs merge=lfs -text
frontend/www/static/fonts/RobotoMono-VariableFont_wght.ttf filter=lfs diff=lfs merge=lfs -text
frontend/www/static/favicon.png filter=lfs diff=lfs merge=lfs -text
frontend/www/static/fonts/Inter-Thin.otf filter=lfs diff=lfs merge=lfs -text
