version: '3.8'

services:
  exchange:
    image: exchange-orderbook:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./etc/exchange/conf.toml:/etc/exchange/conf.toml
    networks:
      - exchange-net
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=postgres://exchange_user:exchange_password@postgres:5432/exchange
      - RUST_LOG="info,exchange=trace,tower_http=debug"
      - CONFIG_FILE_PATH=/etc/exchange/conf.toml
      - BITCOIN_RPC_URL=http://bitcoind:8332
    depends_on:
      - redis
      - postgres
      - bitcoind
      - bitcoind-grpc-proxy
    restart: on-failure # Restart the service if it fails
    stop_signal: SIGINT # Stop the service gracefully

  exchange-frontend:
    image: exchange-orderbook-frontend:latest
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.frontend
    environment:
      - PORT=3030
    ports:
      - "3030:3030"
    networks:
      - exchange-net
    depends_on:
      - exchange
    restart: on-failure
    develop:
      watch:
        - action: rebuild
          path: ./frontend/

  bitcoind-grpc-proxy:
    image: exchange-orderbook:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "50051:50051"
    volumes:
      - ./etc/exchange/conf.toml:/etc/exchange/conf.toml
    networks:
      - exchange-net
    environment:
      - RUST_LOG="info"
      - DATABASE_URL=postgres://exchange_user:exchange_password@postgres:5432/exchange
      - CONFIG_FILE_PATH=/etc/exchange/conf.toml
      - BITCOIN_RPC_URL=http://bitcoind:8332
    depends_on:
      - bitcoind
    command: [ "/usr/local/bin/bitcoind-grpc" ]
    restart: on-failure # Restart the service if it fails
    stop_signal: SIGINT # Stop the service gracefully

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/letsencrypt/:/etc/letsencrypt:ro
    networks:
      - exchange-net
    depends_on:
      - exchange
    restart: always

  redis:
    image: redis:latest
    ports:
      - "6379:6379" # Expose Redis ports for debugging
    networks:
      - exchange-net
    volumes:
      - redis-data:/data
    restart: always

  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    networks:
      - exchange-net
    environment:
      - POSTGRES_DB=exchange_db
      - POSTGRES_USER=exchange_user
      - POSTGRES_PASSWORD=exchange_password
      - TZ=UTC
    restart: always

  bitcoind:
    image: lncm/bitcoind:v25.0
    user: 1000:1000
    volumes:
      - ./etc/bitcoin:/data/.bitcoin
    restart: on-failure
    stop_grace_period: 15m30s
    ports:
      - "8333:8333"
      - "8332:8332"
      - "28332:28332"
      - "28333:28333"
    networks:
      - exchange-net

networks:
  exchange-net:
    driver: bridge

volumes:
  redis-data:
  postgres-data:
