@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'Helvetica Neue';
    }
    
    .footer-primary-list>li {
        padding: 3px 0 30px;
        page-break-inside: avoid;
}