<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.png" />
    <link rel="preload" href="/static/fonts/Inter-Thin.otf" as="font" type="font/otf" crossorigin>
    <style>
        @font-face {
            font-family: 'Inter', sans-serif;
            src: url('/static/fonts/Inter-Thin.otf') format('opentype');
            font-weight: 100;
            font-style: normal;
        }
    
    
        * {
            font-family: 'Inter', sans-serif;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    {#
    <script src="https://unpkg.com/alpinejs" defer></script> #}
    <script>
        // Load html.data-theme from local-storage or save default if undefined
        document.addEventListener('DOMContentLoaded', (event) => {
            const defaultTheme = 'nord';
            const savedTheme = localStorage.getItem('data-theme') || defaultTheme;
            document.documentElement.setAttribute('data-theme', savedTheme);
            localStorage.setItem('data-theme', savedTheme);

            // Set the state of the toggle based on the saved theme
            const themeController = document.querySelector('.theme-controller');
            if (themeController) {
                themeController.checked = (savedTheme === 'dark');

                // Dispatch the change event to notify other listeners
                const event = new Event('change');
                themeController.dispatchEvent(event);

                // Add event listener to the toggle
                themeController.addEventListener('change', function () {
                    const newTheme = this.checked ? 'dark' : 'nord';
                    document.documentElement.setAttribute('data-theme', newTheme);
                    localStorage.setItem('data-theme', newTheme);
                });
            }
        });
    </script>
    <script src="https://unpkg.com/htmx.org" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/app.css">
    <title>Crypto Exchange</title>
</head>

<body>
    {% block body %}Not filled in{% endblock %}
</body>

</html>